fastapi
uvicorn
python-multipart
httpx
pydantic
python-jose
sqlalchemy
duckdb
polars
watchgod
setproctitle
pandas
schedule
requests
ratelimit
longport
openpyxl
futu-api==9.0.5008
watchdog
python-dateutil
numpy
scipy
aiocache
cachetools
diskcache
beautifulsoup4
socksio
ib-insync
websockets
croniter
tushare
